<header class="header">
  <mat-toolbar color="primary">
    <span>KARTVİZİT OLUŞTURMA</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a [routerLink]="['/']"   routerLinkActive="active" [routerLinkActiveOptions]="{ exact :true}">Anasayfa</a>
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="active">Hakkında</a>
      </li>
      <li>
        <a [routerLink]="['/cards']" routerLinkActive="active">Kartvizit</a>
      </li>
    </ul>
  </mat-toolbar>
</header>



